.app-container{
    width: 400px;
    height: 400px;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,50px);
}

button{
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
}

button.operator {
    background-color: lightslategray;
}